
/* Font */

/* google font all font */
body {
  font-family: Quicksand;
}

/* Animate Schedule your Repair button */
@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOutclass {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}
ul {
    text-align: center;
}

iframe, object, embed {
  max-width: 100%;
}

.footer {

  text-align:center;
  padding: 10px 0;
	width:auto;
	margin: 0 auto;
	background-color: #047CFC;
  position: relative;
}